			
<%= javascript_tag do %>
	$(document).ready(function() {
	    if ($( "#notice" ).length) {
	        demo.showNotification('bottom','right',$("#notice").text(),2)
	    }
	    if ($( "#alert" ).length) {
	        demo.showNotification('bottom','right',$("#alert").text(),1)
	    }
});
<%end%>

			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul>
							<li>
								<%= link_to(root_path)do %>
			                        <p>Home</p>
							    <%end%>
							</li>
							<li>
								<%= link_to(root_path)do %>
			                        <p>Blog</p>
							    <%end%>
							</li>
							<li>
								<%= link_to "Cerrar Sesión", destroy_user_session_path, :method => :delete %>
							</li>
						</ul>
					</nav>
				</div>
			</footer>
		</div>
	</div>